<footer>
    <section class="navigation">
        <div class="logos">
            <img src="../../assets/logo-mini.png" alt="step">
            <div class="minilogos">
                <img src="../../assets/twitter.png" alt="twitter">
                <img src="../../assets/linkedin.png" alt="linkedin">
                <img src="../../assets/facebook.png" alt="facebook">
                <img src="../../assets/instagram.png" alt="instagram">
            </div>
        </div>
        <div class="liens">
            <div class="colFoot">
                <h4>Exercia</h4>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
            <div class="colFoot">
                <h4>Exercia</h4>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
            <div class="colFoot">
                <h4>Exercia</h4>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
            <div class="colFoot">
                <h4>Exercia</h4>
                <p>Consectetur</p>
                <p>Adipiscing</p>
                <p>Eiusmod</p>
                <p>Tempor</p>
                <p>Incididunt</p>
            </div>
        </div>
    </section>
    <section class="copyright">
        <p>Copyright STEP 2021</p>
    </section>
</footer>