<section>
    <div class="choix">
        <div class="choix1">
            <div class="taille">
                <img src="../../assets/Group 60.png" alt="logo">
                <div>
                    <h2>Studio de</h2>
                    <h2>Développement</h2>
                </div>
            </div>
        </div>
        <div class="choix2">
            <div class="taille">
                <img src="../../assets/Bulle.png" alt="logo">
                <div>
                    <h2>Centre</h2>
                    <h2>de formation</h2>
                </div>
            </div>
        </div>
    </div>
</section>
