<section>
    <img src="../../assets/groupepersonnes.jpg" alt="groupe" class="sectionImg">
    <div class="tableau">
        <div class="bleu">
            <h1>Découvrez nos missions</h1>
            <h2>20 ans d'innovation au service de l'inclusion</h2>
            <p>STEP depuis deux décennies ne cesse de réinventer en diversifiant ses activités et ses engagements</p>
        </div>
        <div>
            <img src="../../assets/Group 12.png" alt="group12" class="group">
        </div>
    </div>
</section>
