section {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sectionImg {
    width: 100%;
    object-fit: cover;
}

.tableau {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.orange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    width: 27%;
    height: 100%;
    background-color: rgb(255, 94, 26, 0.5);
    color: white;
}

.group {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
}