section {
    margin: 5em auto 3em auto;
    width:90%;
}

.titre {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.titre img {
    width: 100px;
    margin-right: 10px;
}

.cartes {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
    width: 100%;
}
