<section>
    <div class="align">
        <h4>NOS PARTENAIRES</h4>
        <div>
            <img src="../../assets/partner.png" alt="partenaire">
            <img src="../../assets/partner.png" alt="partenaire">
            <img src="../../assets/partner.png" alt="partenaire">
            <img src="../../assets/partner.png" alt="partenaire">
            <img src="../../assets/partner.png" alt="partenaire">
            <img src="../../assets/partner.png" alt="partenaire">
            <img src="../../assets/partner.png" alt="partenaire">
        </div>
    </div>
</section>
