section {
    margin: 3em auto;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.couleur {
    background-color: #dedce7;
    width: 1.5%;
}

button {
    background-color: #00b0cc;
}

.leger {
    color: #dedce7;
}

.services {
    display: grid;
    grid-template-columns: auto auto;
}

.serv {
    display: flex;
    flex-direction: row;
}

.serv p {
    margin-right: 10px;
}

.soluceImage {
    position: relative;
}

.soluceImage div {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3em;
    color: white;
}

.soluceImage img {
    height: 70vh;
    border-radius: 20px;
    box-shadow: 2em 2em 2px 1px rgba(0, 0, 255, .2);
}

.soluce {
    width: 60%;
}