<section>
    <div class="couleur"></div>
    <div class="soluce">
        <h1>Des solutions & métiers adaptés à <b>tous vos besoins</b></h1>
        <p class="leger">Pirus estiles mergotim relativae a utilienensis</p>
        <div class="services">
            <div class="serv">
                <p class="leger">></p>
                <h4>Flux documentaires</h4>
            </div>
            <div class="serv">
                <p class="leger">></p>
                <h4>Studio de développement</h4>
            </div>
            <div class="serv">
                <p class="leger">></p>
                <h4>L'atelier numérique</h4>
            </div>
            <div class="serv">
                <p class="leger">></p>
                <h4>Livraison urbaine</h4>
            </div>
            <div class="serv">
                <p class="leger">></p>
                <h4>Service postal</h4>
            </div>
            <div class="serv">
                <p class="leger">></p>
                <h4>Conciergerie d'entrerpise</h4>
            </div>
            <div class="serv">
                <p class="leger">></p>
                <h4>Formations</h4>
            </div>
        </div>
    </div>
    <div class="soluceImage">
        <img src="../../assets/programming.jpg" alt="programmation">
        <div>
            <p>Métier</p>
            <h3>Flux documentaires</h3>
            <p>Je suis une description qui supporte le titre</p>
            <button>Voir plus</button>
        </div>
    </div>
</section>
