<section>
    <img src="../../assets/casque.jpg" alt="casque vélo" class="sectionImg">
    <div class="tableau">
        <div class="orange">
            <h1>Les 3 règles de la frugalité numérique</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis dignissim ligula, sit amet lobortis ante luctus et.</p>
            <button>Voir plus</button>
        </div>
        <div>
            <img src="../../assets/Group 179.png" alt="group179" class="group">
        </div>
    </div>
</section>
