<section>
    <div class="photo">
        <img src="../../assets/flower.jpg" alt="flower" class="photoimg">
        <div class="economies">
            <h3>Jusqu'à</h3>
            <h4>90%</h4>
            <div>
                <img src="../../assets/arrow up.png" alt="">
                <p>D'économies d'énergie</p>
            </div>
        </div>
    </div>
    <div class="eco">
        <h1><b>L'écoconception</b> au centre de nos démarches</h1>
        <div class="colText">
            <div>
                <p>Pirus estiles mergotim relativae a utlienensis et la cartae maxima mergo et volio renecta dolienonsis a la praesum <b>et Salta.</b></p>
            </div>
            <div>
                <p>Pirus estiles mergotim relativae a utlienensis et la cartae maxima</p>
            </div>
        </div>
        <div class="question">
            <p>Texte de support pour la question</p>
            <button>Voir plus</button>
        </div>
    </div>
</section>
